{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table cellpadding = "10px" style="border-style: solid; border-width: 2px; margin: 5px;">
    <tr>
        
        <th>Id</th>
        <th>Doctor</th>
        <th>Username</th>
        <th></th>
        
        

    </tr>
    {% for user in users %}
        <tr>
            
            <td>{{ user.userid|raw }}</td>
            <td><a href="/admin/add/doctor/{{ user.username|raw }}">add</a>/<a href="/admin/delete/doctor/{{ user.username|raw }}">del</a></td>
            <td><a href="/user/{{ user.username|raw }}">{{ user.username|raw }} is doctor: {% if user.isDoctor %}True {% else %} False {% endif %}</a></td>
            <td><a href="/admin/delete/{{ user.username|raw }}">Delete this user</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table cellpadding = "10px" style="border-style: solid; border-width: 2px; margin: 5px;">
        <tr>
            <th> Id</th>
            <th> Title</th>

        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.postid|raw }}">{{ post.title }}</a></td>
            <td><a href="/admin/delete/post/{{ post.postid|raw }}">Delete this post</a></td>
        </tr>
        {% endfor %}


    </table>
    

{% else %}
    There are no posts
{% endif %}

{% endblock %}
